doctype html
html
  head
    title GrooveMastersStudio
    block scripts
    block style
  body
    nav#navbar
            ul
                div#logo 
                    img(src='/static/logos.png')
                    h6 GrooveMastersStudio
                div#lii
                    li #[a(href='/') Home]
                    li #[a(href='/') About]
                    li #[a(href='/') Services]
                    li #[a(href='/') Class Info]
                    li #[a(href='/contact') Contact Us]
    block content
    footer#foot
        | Copyright &#169; 2019 GrooveMastersStudio.com | All rights reserved.  